* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #10002B;
    color: #FFFFFF;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* BTN */
.botao {
    display: inline-block;
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.botao:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
}

.botao--primario {
    background-color: #3C096C;
    color: #FFFFFF;
    border: 1px solid #5A189A;
}

.botao--secundario {
    background-color: #5A189A;
    color: #FFFFFF;
}

/* HEADER */
.header {
    background-color: #240046;
    padding: 1rem 0;
    border-bottom: 1px solid #3C096C;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    height: 59px;
}

.header__nav {
    display: block;
}

.header__nav ul {
    display: flex;
    gap: 2rem;
}

.header__acoes {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
    
.header__carrinho {
    font-size: 1.5rem;
}

/* HERO */
.hero {
    padding: 4rem 0;
}

.hero__container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero__texto {
    flex: 1; 
    text-align: left;
}

.hero__imagem {
    flex: 1;
}

.hero__texto span {
    font-weight: bold;
    color: #E0E0E0;
    font-size: 0.9rem;
}

.hero__texto h1 {
    font-size: 3rem; 
}

.hero__texto p {
    padding-top: 10px;
    margin: 0 0 2rem 0;
    color: #E0E0E0;
}

.hero__imagem img {
    max-width: 300px; 
    margin: 0 auto;
}

/* PLANOS */
.planos {
    padding-bottom: 50px;
}
.planos__grade {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.plan-card {
    background-color: #240046;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    min-width: 300px;
}
.plan-card__logo {
    width: 100px;
    margin-bottom: 1.5rem;
}
.plan-card__titulo {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.plan-card__caracteristicas {
    text-align: left;
    margin: 20px;
    align-self: flex-start;
    width: 100%;
}
.plan-card__caracteristicas li {
    margin-bottom: 0.5rem;
}
.plan-card .botao {
    width: 100%;
    margin-top: auto;
}
.plan-card__preco {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1.5rem;
}
.plan-card__periodo {
    font-size: 1rem;
    font-weight: bold;
    color: #E0E0E0;
}

/* responsividade */


@media (max-width: 1023px) {

    .header__logo,
    .header__nav,
    .header__carrinho,
    .header__acoes .botao { 
        display: none;
    }

    .header {
        background: transparent;
        border: none;
    }
    
    .header__login {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #5A189A;
        padding: 8px 18px;
        border-radius: 8px;
        font-weight: bold;
    }

    .hero__container {
        flex-direction: column;
        text-align: center;
    }

    .hero {
        padding: 2rem 0;
    }

    .hero__texto h1 {
        font-size: 2.5rem;
    }
    
    .hero__texto p {
        margin: 0 auto 2rem;
    }

    .planos__grade {
        flex-direction: column; 
        align-items: center;   
    }

    .plan-card {
        width: 90%;
    }
}